header {
    background-color: #06131F;
    padding: 1.5rem;
}

body {
    background-color: #1D2D3C;
}

.card,
.modal-body {
    background-color: #112030 !important;
}

.card {
    cursor: pointer;
}

.card img,
.modal img {
    width: 50%;
}